<!--suppress HtmlFormInputWithoutLabel -->
<section class="new-item-container" *ngIf="item">
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="item.title">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Content</mat-label>
        <textarea class="item-input" matInput cdkTextareaAutosize cdkAutosizeMinRows="10" cdkAutosizeMaxRows="25" [(ngModel)]="item.content"></textarea>
    </mat-form-field>

    <button mat-mini-fab (click)="save()" class="fab">
        <mat-icon aria-label="Save">save</mat-icon>
    </button>
</section>
