.new-item-container {
    padding: 1.3em 1.5em;
    display: flex;
    flex-direction: column;

    font-size: 1.2em;

    height: 100%;
    overflow: auto;

    div {
        width: 100%;
        height: available;
    }

    .item-input {
        caret-color: #E9DCDC;
    }
}

