@import "~src/variables";

.home-container {
    padding: 1.3em 1.5em;

    @media (min-width: $query-max-width) {
        padding-right: 2em;
    }

    .home-diary-items {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        //gap: 1.2em; Thanks chrome

        .show-item-card {
            margin-bottom: 1.2em;
        }
    }

    h2 { margin: 0; }
}
