@page "/login"
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@using Services
@using Models

<h3>Login</h3>

<input @bind="email" placeholder="email" />
<input @bind="password" placeholder="password" />

<button @onclick="Signin">Login</button>

@if(user != null)
{
    @user.Uid <br />
    @user.Email <br />
}

<button @onclick="Signout">Logout</button>

@code {
    string email = "";
    string password = "";
    User user;

    public async void Signin()
    {
        user = await AuthService.Login(new LoginCredentials { Email = email, Password = password }, JSRuntime);

        // NavigationManager.NavigateTo("");
    }

    protected override async Task OnInitializedAsync()
    {
        user = await AuthService.GetCurrentUser(JSRuntime);
    }

    public async void Signout()
    {
        await AuthService.Logout(JSRuntime);
    }
}
