@page "/item/new"
@inject IJSRuntime JSRuntime
@using Services;

<h3>NewItem</h3>

<input placeholder="title" @bind="diaryItem.Title" />
<textarea placeholder="body" @bind="diaryItem.Body"></textarea>

<button @onclick="Save">Save</button>

@code {
    DiaryItem diaryItem = new DiaryItem { Title = "", Body = "" };
    public async void Save()
    {
        await DiaryService.Create(diaryItem, JSRuntime);
    }
}
