/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

$primary-color: mat-palette($mat-indigo);
$accent-color:  mat-palette($mat-pink);

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #121212;
    color: #d7d7d7;
    overflow: hidden;
}

.unselectable {
    user-select: none;
}

.clickable {
    cursor: pointer;
}

.fab {
    position: fixed !important;
    bottom: 20px;
    right: 20px;

    width: 50px !important;
    height: 50px !important;
}

.mat-button-wrapper {
    padding: 0 !important;
}

$app-dark-theme: mat-dark-theme($primary-color, $accent-color);

@include angular-material-theme($app-dark-theme);
